.tab-container {
	&--regular {
		@apply bg-stone-100;
	}

	&--search-results {
		
		.tab-menu {
			@apply mb-2;
		}

		.tab-menu ul {
			display: flex;
			justify-content: center;
		}
	
		.tab-menu ul li {
			list-style-type: none;
			// display: inline-block;
			@apply w-full;
		}
	
		.tab-menu ul li a {
			@apply text-stone-500 text-center font-bold p-2 w-full block border-2 border-stone-900;
			text-decoration: none;
		}
	
		.tab-menu ul li a.active-a {
			@apply text-white bg-stone-900 w-full;
		}
	}

	.tab {
		display: none;
	}

	.tab-active {
		display: block;
	}
}